@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  padding-bottom: 70px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.container {
  position: relative;
  max-width: 480px;
  width: 100%;
  border-radius: 7px;
  padding: 25px;
  margin: 75px auto 0;
  background-color: #ff5757;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.150);
}

.container .input-field {
  position: relative;
  height: 64px;
  width: 100%;
}

.input-field textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  padding: 18px 45px 18px 15px;
  border: 1px solid #ffffff;
  resize: none;
}

.input-field textarea:focus {
  border-color: #f44040;
}

textarea::-webkit-scrollbar {
  display: none;
}

.input-field .note-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 24px;
  color: #f44040;
}

.input-field textarea:focus ~ .note-icon {
  color: #000000;
}

.container .todoLists {
  max-height: 380px;
  overflow-y: auto;
  padding-right: 10px;
}

.todoLists .list {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #ffffff;
  padding: 20px 15px;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.todoLists .list input {
  height: 16px;
  min-width: 16px;
  accent-color: #000000;
  pointer-events: none;
}

.todoLists .list .task {
  margin: 0 30px 0 15px;
  word-break: break-all;
}

.list input:checked ~ .task {
  text-decoration: line-through;
}

.todoLists .list i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #000000;
  padding: 5px;
  opacity: 0.6;
  display: none;
}

.todoLists .list:hover i {
  display: inline-flex;
}

.todoLists .list i:hover {
  opacity: 1;
}

.container .pending-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.pending-tasks span {
  color: #333;
}

.pending-tasks .clear-button {
  padding: 6px 12px;
  outline: none;
  border: none;
  background: #000000;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: none;
  white-space: nowrap;
}

.clear-button:hover {
  background-color: #ff0000;
}

@media screen and (max-width: 350px) {
  .container {
    padding: 25px 10px;
  }
}

.myFooter {
  text-align: center;
  color: #ffffff;
  background-color: #ff5757;
  padding: 10px 0;
  margin-top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.myFooter p {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.myFooter a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.myFooter a:hover {
  text-decoration: underline;
}

.myFooter .fa-heart {
  color: red;
}
